<!doctype html>
<html ng-app>
  <head>
    <script src="../vendors/js/jquery-1.9.1.js"></script>
    <link href="../vendors/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="../vendors/js/angular.min.js"></script>
    <script src="index.js"></script>
    <title>Test with Angular</title>
    <style>
      body {
        margin: 10px;
      }
      #total, #elapsed {
        float: right !important;
        margin-left: 5px !important;
      }
      input {
        margin: 0 !important;
      }
    </style>
  
  </head>  
  <body ng-controller="TableController">
    <button id="ins" class="btn" ng-click="insert()">Insert</button>
    <button id="add" class="btn" ng-click="add()">Add</button>
    <button id="edit" class="btn" ng-click="edit()">Edit</button>
    <button id="del" class="btn" ng-click="remove()">Remove</button>
    <button id="start" class="btn" ng-click="start()">Start</button>
    <input id="timer" placeholder="timer, ms" ng-model="timer"/>
    <input id="amount" placeholder="how many" ng-model="amount"/>
    <input id="elapsed" value="{{elapsed}}" readonly="readonly" placeholder="elapsed time, sec" />
    <input id="total" value="{{records.length}}" readonly="readonly" />

    
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="record in records" ng-click="select($event, $index)">
          <td>{{record.key}}</td>
          <td>{{record.value}}</td>
        </tr>
      </tbody>      
    </table>
    
  </body>
</html>
